/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

html {
    background-color: #C6E6E5;
    font-family: "Open Sans";
    color: #49999A;
}

h1, h2, h3 {
    font-family: "Roboto";
    color: black;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.half {
    width: 50%;
}

a {
    text-decoration: none;
    font-weight: 500;
    padding: 1rem;
    width: 15rem;
    border-radius: 2rem;
    border: 0rem;
    background-color: #620000;
    color: white;
}

.header {
    background-color: #49999A;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 1%;
    display: flex;
}

.header a {
    font-weight: 600;
    font-size: large;
    width: 8rem;
    background-color: #49999A;
    color: black;
}

.header-part {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

.header-part button {
    height: 100%;
}

.banner {
    background-color: #49999A;
    margin: 8%;
}

.banner-img-container {
    margin-top: 10%;
    width: 90%;
    height: 20rem;
}

.banner-img {
    width:  30%;
    height: 100%;
    object-fit: cover;
}

.project {
    text-align: center;
    width: 30%;
}

.project-list {
    display:flex;
    justify-content: center;
}

.project-img {
    width: 90%;
    height: 80%;
    object-fit: cover;
}

.social {
    text-align: center;
}

.social-img {
    width: 20%;
    height: 15rem;
    object-fit: cover;
}

.footer {
    display: flex;
}

.footer-part{
    width: 50%
}

.intro {
    display: flex;
}

#who {
    margin: 3rem;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.banner2 {
    width: 100%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.list-project {
    width: 29%;
    margin: 0.5%;
    padding: 1.5%;
    border-radius: 2rem;
    border: #49999A .1rem solid;
}
